body {
  margin: 0px;
  padding: 0px;
  background-color: #321964;
  background-image: linear-gradient(#321964, #140a29);
}

body::after {
  content: "This site is designed to be viewed on a modern browser in approximately a 4:3 aspect ratio";
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: 'Arsenal';
  font-size: 16px;
  color: grey;
  pointer-events: none;
}

#canvas-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

canvas {
  /* Center canvas on page */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;

  /* Hide the mouse cursor */
  cursor: none;

  /* Enable Nearest Neighbor scaling algorithm */
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

/* Scale canvas with responsive conditions to manage pixel sizing */
@media only screen and (min-width: 320px) and (min-height: 200px) {
  canvas {
    width: 320px;
    height: 200px;
  }
}
@media only screen and (min-width: 640px) and (min-height: 400px) {
  canvas {
    width: 640px;
    height: 400px;
  }
}
@media only screen and (min-width: 960px) and (min-height: 600px) {
  canvas {
    width: 960px;
    height: 600px;
  }
}
@media only screen and (min-width: 1280px) and (min-height: 800px) {
  canvas {
    width: 1280px;
    height: 800px;
  }
}
